@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@400..700&family=Pacifico&family=Rubik+Glitch+Pop&display=swap')
 :root {
    --claro: rgb(150, 204, 137);
    --verde: rgba(155, 216, 130, 0.89);
    --verde-escura: #72a365;
    --branca: #fff;
    --luz: rgb(212, 207, 202);
  }
    body{

background: linear-gradient(45deg, #9fdd86 0%,#294e26ab 100%);
 
}

h1 {
font-size: 45px; 
font-family: Caveat ;
align-items: center;

}

h2{

font-size: 30px; 
font-family:Dancing Script;
align-items: center;

}
h3{
    font-size: 30px;
    align-items: center;
}
.div-img1{
    width: 30%;
    align-items: center;
}
.img2{
    width: 30%;
    align-items: center;
}
.img3{
    width: 30%;
    align-items: center;
}


