@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@400..700&family=Pacifico&family=Rubik+Glitch+Pop&display=swap');
 :root {
    --claro: rgb(230, 154, 179);
    --verde: rgba(155, 216, 130, 0.89);
    --verde-escura: #d8abbc;
    --branca: #fff;
    --luz: rgb(212, 207, 202);
}
body {
    background-image: linear-gradient( #b3eeb1 40%,#ec9ec3dc 60%);
    font-family: Dancing+Script;
    margin: 0;
    padding: 0;
  
}

header {
    background-color: #e09cc4d8;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.campo{
    font-size: 40px;
}
.cidade{
    font-size: 40px;
}
h2{
    font-size: 40px;
    font-family: Caveat;
    text-align: center;
}
h1{
    font-size: 30px;
    font-family: Dancing+Script;
    text-align: center;
}
p{
    font-size: 25px;
}
