@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@400..700&family=Pacifico&family=Rubik+Glitch+Pop&display=swap');
 :root {
    --claro: rgb(161, 183, 216);
    --azul: rgba(97, 140, 180, 0.89);
    --azul-escura: #4869b1;
    --branca: #fff;
    --luz: rgb(213, 218, 224);
  }
    body{

background: linear-gradient( #b1cbee 50%,#35467eab 50%);
 
}

h1 {
font-size: 45px; 
font-family: Caveat ;
text-align: center;

}

h2{

font-size: 30px; 
font-family:Dancing Script;
text-align: center;

}
h3{
    font-size: 30px;
    text-align: center;
}
.div-img1{
    text-align: center;
}
.img1{
    width: 30%;
}



